<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <!-- Pantalla principal: LoginActivity -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true"
            android:label="@string/inicio_sesion"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegistroActivity para el registro detallado de usuarios -->
        <activity
            android:name=".auth.RegistroActivity"
            android:exported="true"
            android:label="@string/registro"
            android:theme="@style/AppTheme" />

        <!-- MainActivity para el contenido principal de la app -->
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <!-- DetallesActividadActivity para mostrar detalles de actividades -->
        <activity
            android:name=".view.DetallesActividadActivity"
            android:exported="false"
            android:label="@string/detalles_actividad"
            android:theme="@style/AppTheme" />

        <!-- AgregarActividadActivity para agregar nuevas actividades -->
        <activity
            android:name=".view.AgregarActividadActivity"
            android:exported="false"
            android:label="@string/agregar_actividad"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
